<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new Product</title>
  </head>
  <body>
    <h1>Edit product</h1>
    <form method="POST" action="/products/<%= product._id %> ">
      <label for="name">Product Name</label>
      <input type="text" name="name" placeholder="Product Name" id="name"   value="<%=product.name  %>"/>
      <label for="price">Price (Unit) </label>
      <input type="number" name="price" placeholder="Product Price" id="price" value="<%=product.price  %>"/>
      <label for="category">Select Category</label>
      <select name="category" id="category" selelected="<%= product.category %> ">
        <option value="fruit">Fruit</option>
        <option value="vegetable">Vegetable</option>
        <option value="dairy">Dairy</option>
      </select>
      <button> Submit</button>
    </form>
    <form method="GET" action="/products">
      <a href="/products/">All Products</a>
    </form>
  </body>
</html>
