<%- include('./partials/head') %> 
<body>    
    <%- include('./partials/navbar.ejs') %>   
    <h1>Here are the cat names</h1>
    <ul> <h2>Cat Names</h2>
    <% for (let name of cats){ %>
        <li><%= name %> </li> 
    <% } %></ul>
</body>
</html>