<%- include('./partials/head') %> 
<body>
    <%- include('./partials/navbar.ejs') %>   
    <h1> Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quidem, iusto voluptas alias eaque sequi
        magni illum eveniet in ducimus modi neque tempore ipsam laboriosam, a minima dolores voluptatem. Dignissimos?
    </p>
</body>

</html>